name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Check Java code formatting
      run: ./gradlew spotlessCheck

    - name: Check Skir code formatting
      run: npx skir format --ci

    - name: Run Skir-to-Java codegen
      run: npx skir gen

    - run: ./gradlew run
